
<link rel="stylesheet" href="/css/estilo-columnista.css">
<header>
        <div class="logo">
            <h2 class="etiqueta">SRINGFIELD NEWS</h2>
        </div>
</header>
<div class="contenedor">
    <div class="caja-contenedor caja-registro cuadro-creacion">
        <h2>Crear Noticias</h2>

        <form action="/crear-noticia" method="post">

            <div class="camposnegros">
                <label for="">TITULO :</label>
                <input  name="titulo" type="text">
            </div>
            <div class="camposnegros" >
                <label for="">DESCRIPCION :</label>
                <input name="descripcion" type="text">
            </div>
            <div class="camposnegros" >
                <label for="">URL imagen</label>
                <input name="urlimagen" type="text">
            </div>
            <div  class="camposnegros">
                <button>
                    Crear Noticia
                </button>
            </div>

            
        </form>

    </div>
 </div>