
    <header>
        <div class="logo">
            <h2 class="etiqueta">SRINGFIELD NEWS</h2>
        </div>
    </header>
    <div class="contenedor">
        <div  class="text-center"><!--centrar texto-->

            <div class="caja-contenedor caja-registro">
                 <h2 class="mt-2">Crear columnista</h2 >
                <form action="/agregar-columnista" method="post">
                    <div class="camposnegros mt-3 nombre-registro" >
                        <label for="nombre" class="form-label">Nombre: </label>  
                        <input name="nombre" type="text" class="form-text text-muted"   pattern="[a-zA-Z ]{3,60}"  autofocus required title="Dudo que seas el hijo de elon musk (tus nombre solo debe contener letras y espacios)">  
                    </div>
                    <div class="camposnegros mt-3 apellido-registro">
                        <label for="apellido" class="form-label">Apellido: </label>
                        <input name="apellidos" type="text" class="form-text text-muted"  pattern="[a-zA-Z ]{3,60}" required title="Dudo que seas el hijo de elon musk (tus apellidos solo debe contener letras y espacios)">
                    </div>
                    <div class="camposnegros mt-3  correo-registro">
                        <label for="correo" class="form-label">Email: </label>
                        <input name="correo" type="email" class="form-text text-muted"  autofocus required title="">
                    </div>
                    <div class="camposnegros mt-3 usuario-registro">
                        <label for="usuario" class="form-label">Usuario: </label>
                        <input name="usuario" type="usuario" class="form-text text-muted" id=""  required> 
                    </div>
                    <div class="contenedor-contraseña camposnegros mt-3 contraseña-registro">
                        <label for="password" class="form-label">Password: </label>
                        <input  class="campo-contraseña" name="password" type="password" class="form-text text-muted" id="password"  pattern="[A-Za-z0-9]{8,15}" title="La contraseña debe contener al menos 8 caracteredes ademas de contener solo letras, numeros o ambos" required> 
                        <img src="/img/ojo_abierto.png" class="ojo" id="ojo-contraseña-admin">   
                    </div>
                    <div class="contenedor-contraseña camposnegros mt-3 confirmar-contraseña-registro">
                        <label for="password" class="form-label">Confirmar Contraseña: </label>
                        <input  class="campo-contraseña" name="password-confirmacion" type="password" class="form-text text-muted" id="password-confirmacion"  pattern="[A-Za-z0-9]{8,15}" title="La contraseña debe contener al menos 8 caracteredes ademas de contener solo letras, numeros o ambos" required> 
                        <img src="/img/ojo_abierto.png" class="ojo" id="ojo-confirmacion-admin">
                        
                    </div>
                    <div class="camposnegros mb-3">
                        <button id="boton-registro">crear cuenta</button>
                    </div>
            </form>


            </div>

           
        </div>

    </div>



<script type="text/javascript">
    let ojo =document.getElementById('ojo-contraseña-admin');
    let campopass = document.getElementById('password');

    ojo.addEventListener("click", function (){
        if(campopass.type == "password"){
            campopass.type = "Text"; 
            ojo.src = '/img/ojo_cerrado.png'
        }
        else{
            campopass.type = "password";
            ojo.src = '/img/ojo_abierto.png' 
        }
    })

    let ojodos =document.getElementById('ojo-confirmacion-admin');
    let campopassdos = document.getElementById('password-confirmacion');

    ojodos.addEventListener("click", function (){
        if(campopassdos.type == "password"){
            campopassdos.type = "Text"; 
            ojodos.src = '/img/ojo_cerrado.png'
        }
        else{
            campopassdos.type = "password";
            ojodos.src = '/img/ojo_abierto.png' 
        }
    })


</script>