    <header>
        <div class="logo">
            <h2 class="etiqueta">SRINGFIELD NEWS</h2>
        </div>
    </header>
    <div class="contenedor">
        <div class="text-center"><!--centrar texto-->
            <h3 class="mt-2">Crear Administrador</h3>
            <form action="/agregar-admin" method="post">
                <div class="mt-3">
                    <label for="nombre" class="form-label">Nombre 
                    <input name="nombre" type="text" class="form-text text-muted" id="nombre" placeholder="Nombre"> *</label>    
                </div>
                <div class="mt-3">
                    <label for="apellido" class="form-label">Apellido 
                    <input name="apellidos" type="text" class="form-text text-muted" id="apellido" placeholder="Apellido"> *</label>
                </div>
                <div class="mt-3">
                    <label for="correo" class="form-label">Email 
                    <input name="correo" type="email" class="form-text text-muted" id="correo" placeholder="name@examples.com.co"> *</label>
                </div>
                <div class="mt-3">
                    <label for="usuario" class="form-label">Usuario 
                    <input name="usuario" type="usuario" class="form-text text-muted" id="usuario" placeholder="emontilla"> *</label>
                </div>
                <div class="mt-3">
                    <label for="password" class="form-label">Password 
                    <input name="password" type="password" class="form-text text-muted" id="password" placeholder="Password"> *</label>
                </div>
                <div class="mt-3">
                    <label for="password" class="form-label">Confirmar Contraseña 
                    <input name="password-confirmacion" type="password" class="form-text text-muted" id="password-confirmacion" placeholder="Confirmar Password"> *</label>
                </div>
                <div class="mb-3">
                    <button>crear cuenta</button>
                </div>
            </form>

        </div>

    </div>
